<div class="app-staff-member-card-management-month">
  <div class="app-staff-member-card-management-month-name">
    {{monthName}}
  </div>

  <div
    class="app-staff-member-card-management-month-week"
    *ngFor="let week of weeks; let weekIndex = index"
    (click)="goToWeekManagement(weekIndex)">

    <div class="app-staff-member-card-management-month-week-dates">
      {{week.start}} - {{week.finish}}
    </div>

    <div class="app-staff-member-card-management-month-week-status">
      <span
        class="app-staff-member-card-management-month-week-status-closed-icon"
        *ngIf="getWeekStatusType(weekIndex) === 'CLOSED'">

        <i class="fa fa-check-circle" aria-hidden="true"></i>
      </span>

      <span
        class="app-staff-member-card-management-month-week-status-opened-icon"
        *ngIf="getWeekStatusType(weekIndex) === 'OPENED'">

        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      </span>
    </div>
  </div>
</div>
