@import "~styles/index";

.app-staff-member-card-management-month {
  display: flex;
  flex-direction: column;

  background: @color-fill_basic_light;

  padding: 12px;

  border-radius: 6px;
}

.app-staff-member-card-management-month-name {
  .app-font-regular;

  font-size: 16px;
  color: @color-fill_text_basic_accent;

  margin-bottom: 12px;
}

.app-staff-member-card-management-month-week-container {
  display: flex;
}
