@import "~styles/index";

@header-height: @app-size-8;

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: @header-height;
  padding: 0 @app-size-2;
  background: @color-fill_basic_subtle;
}

.app-header-title {
  .app-font-bold;

  width: 15%;
  color: @color-fill_text_inverse;
  font-size: @font-normal;
}

.app-header-items {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 70%;
}

.app-header-actions {
  width: 15%;
}
