<div class="app-header">
  <div class="app-header-title">
    Hogwarts Admin v2.7.0
  </div>

  <div class="app-header-items">
    <app-header-item
      [icon]="'fa-user'"
      [text]="'Студенты'"
      [active]="activeSection === 'STUDENTS'"
      (click)="navigationService.students().list().go()">
    </app-header-item>

    <app-header-item
      [icon]="'fa-users'"
      [text]="'Группы'"
      [active]="activeSection === 'GROUPS'"
      (click)="navigationService.groups().list().go()">
    </app-header-item>

    <app-header-item
      [icon]="'fa-graduation-cap'"
      [text]="'Сотрудники'"
      [active]="activeSection === 'STAFF_MEMBERS'"
      (click)="navigationService.staffMembers().list().go()">
    </app-header-item>

    <app-header-item
      [icon]="'fa-building'"
      [text]="'Кабинеты'"
      [active]="activeSection === 'CABINETS'"
      (click)="navigationService.cabinets().list().go()">
    </app-header-item>

    <app-header-item
      [icon]="'fa-users'"
      [text]="'Заявки'"
      [active]="activeSection === 'NEW_STUDENTS'"
      (click)="navigationService.newStudents().list().go()">
    </app-header-item>
  </div>

  <div class="app-header-actions">
    <button class="app-button-secondary pull-right" (click)="logOff()">Выйти</button>
  </div>
</div>
